.items6 {
  margin-top: 100px;
}

.items6Content{
  display: flex;
  justify-content: space-around;
}

.items6Img img {
  width: 990px;
  height: 768px;
}

.items6More {
  display: flex;
  flex-direction: column;
  padding: 60px;
  border-radius: 52px;
  background: #f0f0f0;
  position: relative;
  width: 530px;
  height: 648px;
}

.items6Vector {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 75%;
  height: 156px;
  background-repeat: no-repeat;
}

.items6Text {
  display: flex;
  flex-direction: column;

  text-align: justify;
}

.items6More h1 {
  z-index: 1;
}

.items6More button {
  margin-top: 10px;
  border-radius: 20px;
  background: linear-gradient(219deg, #ea590d 7.74%, #fb913b 93.93%);
  box-shadow: 0px 8px 0px 0px #c5722f;
  color: white;
  width: fit-content;
  padding: 0px 150px;
  border: none;
}

@media screen and (max-width: 1440px){
  .items6{
    display: none;
  }
  }