.inputContainer {
  position: relative;
  margin-bottom: 26px;
  width: 100%;

  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.inputContainer label {
  display: block;
  padding: 0 0 6px 6px;
  font-size: 16px;
  color: #000000;
}

.inputContainer input {
  width: 1590px;
  height: 40px;
  padding: 15px 25px;
  border: 1px solid #e0e0e0;
  border-radius: 30px;

  font-size: 34px;
  color: #000000;
}

.inputContainer span {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-left: 6px;
  font-size: 16px;
  color: #ff0000;
}
