.headerDerivative {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

.containerMenu {
  display: flex;
  gap: 21.81px;
}
.Navbar {
  display: flex;
  justify-content: space-between;
}

.li {
  border-radius: 17.45px;
  border: 0.73px solid;
  padding: 9.45px 15.99px 9.45px 15.99px;
  gap: 7.27px;
  border-color: rgba(210, 210, 210, 1);
  opacity: 0px;
}

.textBar {
  font-family: Jost;
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
  letter-spacing: -0.10867924243211746px;
  text-align: left;
}

.logo {
  width: 126.56px;
  height: 52px;
}

@media (max-width: 1440px) {
  .headerDerivative {
    margin: 30px 0px 0;
  }
  .textBar {
    font-size: 18px;
  }
  .li {
    gap: 7.5px;
    border-radius: 18px;
    padding: 6px 22px;
  }
  .logo {
    height: 39px;
    width: 95px;
  }
}
