.items7 {
  margin-top: 100px;
}

.items7Control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items7Title {
  position: relative;
  display: flex;
  align-items: center;

  color: #000000b2;
  margin-bottom: 50px;
}

.items7Title h2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.items7Title span {
  background-color: #000000b2;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.items7Buttons {
  display: flex;
  gap: 15px;
}

.items7Buttons button {
  display: flex;
  border-radius: 24px;
  border: none;
  height: 78px;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-position: center;
  background-size: 23%;
  background-repeat: no-repeat;
}

.items7ArrowLeft {
  background: #f0f0f0;
  background-image: url(../../assets/svg/Arrow.svg);
}

.items7ArrowrRight {
  background: #f0f0f0;
  background-image: url(../../assets/svg/Arrow.svg);
  transform: rotate(180deg);
}

.items7ArrowLeft:hover {
  background-color: #000;
  background-image: url(../../assets/svg/ArrowWhite.svg);
  transform: rotate(180deg);
}

.items7ArrowrRight:hover {
  background-color: #000;
  background-image: url(../../assets/svg/ArrowWhite.svg);
  transform: rotate(360deg);
}

.items7Cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.items7Card {
  display: flex;
  flex-direction: row;
  gap: 30px;

  width: 834px;
  height: 471px;

  transition: transform 0.5s ease;
}

.items7CardImg {
  width: 267px;
  height: 471px;
  object-fit: cover;
  border-radius: 30px;
}

.items7CardImg img {
  width: 267px;
  height: 471px;
  object-fit: cover;
  border-radius: 30px;
}

.items7Text {
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 45px;

  width: 468px;
  height: 381px;
}

.items7Text h2 {
  margin: 0;
}

.items7Text p {
  color: #00000080;
}

@media screen and (max-width: 1440px) {
  .items7Buttons button {
    border-radius: 15px;
    height: 57px;
  }

  .items7Card {
    width: 1280px;
    height: 279px;
  }

  .items7CardImg img {
    width: 269px;
    height: 279px;
  }

  .items7Text {
    width: 1004px;
    height: 189px;
  }

  .items7Card:nth-child(n + 2) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

.items7Control{
  margin-bottom: 30px;
}

  .items7Title{
    margin: 0;
  }
  .items7Buttons button {
    border-radius: 15px;
    height: 40px;
  }

  .items7Card {
    width: 910px;
    height: 319px;
  }

  .items7CardImg img {
    width: 191px;
    height: 319px;
  }

  .items7Text {
    width: 714px;
    height: 229px;
  }

  .items7Text p{
    font-size: 18px;
  }

  .items7Card:nth-child(n + 2) {
    display: none;
  }
}
