.items7 {
  margin-top: 100px;
}

.items7Title {
  position: relative;
  display: flex;
  align-items: center;

  color: #000000b2;
  margin-bottom: 50px;
}

.items7Title h2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.items7Title span {
  background-color: #000000b2;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
}