.accardion {
  padding-bottom: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.moduleInfo {
  padding-bottom: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.lineIntro {
  border-radius: 24px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.innerText {
  font-family: Jost;
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  letter-spacing: -0.10867924243211746px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  gap: 5px;
}

.explanationOfTheFirstModule {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ending {
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.10867924243211746px;
  text-align: left;
  opacity: 0.5;
}

@media (max-width: 1440px) {
  .lineIntro {
    border-radius: 17px;
    padding: 25px;
  }
  .innerText {
    font-size: 24px;
  }
  .explanationOfTheFirstModule {
    gap: 21.81px;
  }
}
