.container {
  width: 1760px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 910px;
  }
}
