@import url("./assets/styles/Normalize.css");

.box {
  display: flex;
  align-items: center;
  width: 1760px;
  margin: 0 auto;
  padding-top: 80px;
}

h1 {
  font-size: 72px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 23px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

p {
  font-size: 24px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

a {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }
}
